/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        kp_mo: kp_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_MO";
            bindings =
                <&kp>,
                <&mo>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0>;
        };
        kp_kp: kp_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_KP";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <1 2 3 4 5 11 10 9 8 7>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* QWERTY
 * .----------------------------------------------------------------------------------------------------------------------------------.
 * |  `   |   1  |   2  |   3  |   4  |   5  |                                              |   6  |   7  |   8  |   9  |   0  | PScr |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | ESC  |   Q  |   W  |   E  |   R  |   T  |                                              |   Y  |   U  |   I  |   O  |   P  |  \   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Tab  |   A  |   S  |   D  |   F  |   G  |                                              |   H  |   J  |   K  |   L  |   ;  |  '   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Shift|   Z  |   X  |   C  |   V  |   B  |      | Del  | PGDN  | | PGUP  | Home  |      |   N  |   M  |   ,  |   .  |   /  | Shift|
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Ctrl | Alt  | Meta | Alt  |             | Meta | Space| Lower | | Raise | Enter | RAlt |             | LEFT | DOWN | UP   | RIGHT|
 * .----------------------------------------------------------------------------------------------------------------------------------.
 */

            bindings = <
       &kp_mo ESC 2  &kp_kp F1 NUMBER_1  &kp_kp F2 NUMBER_2    &kp_kp F3 NUBMER_3     &kp_kp F4 NUMBER_4        &kp_kp F5 NUMBER_5                           &kp_kp F6 NUMBER_6 &kp_kp F7 NUMBER_7  &kp_kp F8 NUMBER_8   &kp_kp F9 NUMBER_9   &kp_kp F10 NUMBER_00  &kp_kp F11 APOS
            &kp TAB               &kp Q               &kp W     &kp E      &kp R          &kp T                              &kp Z         &kp U         &kp I          &kp O          &kp P         &kp Z
           &kp CAPS               &kp A               &kp S     &kp D      &kp F          &kp G      &kp DELETE              &kp H         &kp J         &kp K          &kp L          &kp J         &kp H                  &kp Z
&kp_mo LEFT_SHIFT 1               &kp Y               &kp X     &kp C      &kp V          &kp B      &kp INSERT    &kp RIGHT_SHIFT     &kp MINUS       &kp DOT      &kp COMMA          &kp M         &kp N  &mt RSHFT PRINTSCREEN
          &kp LCTRL            &kp LALT           &kp LMETA  &kp LALT  &kp SPACE  &kp LESS_THAN  &kp LEFT_ARROW  &kp RIGHT_CONTROL       &kp END      &kp HOME  &kp RIGHT_ALT  &kp BACKSPACE     &kp ENTER              &kp RIGHT
            >;
        };

        layer_1 {
            bindings = <
&trans           &trans           &trans           &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans           &trans           &trans           &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans           &trans           &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &to 0  &kp KP_NUMBER_0  &kp KP_NUMBER_0       &kp KP_DOT  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &kp PAGE_UP  &kp PG_DN  &trans  &trans      &kp UP_ARROW          &trans  &trans  &trans  &trans  &trans           &kp DOWN
&trans       &trans     &trans  &trans  &trans          &kp LEFT          &trans  &trans  &trans  &trans  &trans          &kp RIGHT
&trans       &trans     &trans  &trans  &trans    &kp LEFT_BRACE  &trans  &trans  &trans  &trans  &trans  &trans    &kp RIGHT_BRACE  &trans
&trans       &trans     &trans  &trans  &trans  &kp LEFT_BRACKET  &trans  &trans  &trans  &trans  &trans  &trans  &kp RIGHT_BRACKET  &trans
 &to 0       &trans     &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans  &trans             &trans  &trans
            >;
        };
    };
};
