/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* QWERTY
 * .----------------------------------------------------------------------------------------------------------------------------------.
 * |  `   |   1  |   2  |   3  |   4  |   5  |                                              |   6  |   7  |   8  |   9  |   0  | PScr |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | ESC  |   Q  |   W  |   E  |   R  |   T  |                                              |   Y  |   U  |   I  |   O  |   P  |  \   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Tab  |   A  |   S  |   D  |   F  |   G  |                                              |   H  |   J  |   K  |   L  |   ;  |  '   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Shift|   Z  |   X  |   C  |   V  |   B  |      | Del  | PGDN  | | PGUP  | Home  |      |   N  |   M  |   ,  |   .  |   /  | Shift|
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Ctrl | Alt  | Meta | Alt  |             | Meta | Space| Lower | | Raise | Enter | RAlt |             | LEFT | DOWN | UP   | RIGHT|
 * .----------------------------------------------------------------------------------------------------------------------------------.
 */

            bindings = <
       &kp ESC  &kp NUMBER_1     &kp N2    &kp N3     &kp N4         &kp N5                           &kp APOS  &kp NUMBER_9  &kp NUMBER_9   &kp NUMBER_8   &kp NUMBER_7  &kp NUMBER_6
       &kp TAB         &kp Q      &kp W     &kp E      &kp R          &kp T                              &kp Y         &kp P         &kp O          &kp I          &kp U         &kp Z
     &lt 4 ESC         &kp A      &kp S     &kp D      &kp F          &kp G      &kp DELETE              &kp J         &kp K         &kp L          &kp K          &kp J         &kp H                  &kp Z
&kp LEFT_SHIFT         &kp Y      &kp X     &kp C      &kp V          &kp B      &kp INSERT    &kp RIGHT_SHIFT     &kp MINUS       &kp DOT      &kp COMMA          &kp M         &kp N  &mt RSHFT PRINTSCREEN
     &kp LCTRL      &kp LALT  &kp LMETA  &kp LALT  &kp SPACE  &kp LESS_THAN  &kp LEFT_ARROW  &kp RIGHT_CONTROL       &kp END      &kp HOME  &kp RIGHT_ALT  &kp BACKSPACE     &kp ENTER              &kp RIGHT
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
